<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--<add key="ExecutionPlan" value="AzureStorageBlob.Repository:"/>-->
    <!--<add key="ExecutionPlan" value="AzureStorageTable.Repository:"/>-->
    <!--<add key="ExecutionPlan" value="DocumentDB.Repository:SmallRU" />-->
    <!--<add key="ExecutionPlan" value="DocumentDB.Repository:MediumRU"/>-->
    <!--<add key="ExecutionPlan" value="Sql.Dapper.Repository:LocalSql"/>-->
    <!--<add key="ExecutionPlan" value="Sql.Dapper.Repository:AzureSqlBasic"/>-->
    <!--<add key="ExecutionPlan" value="Sql.Dapper.Repository:AzureSqlP1"/>-->

    <!--All repositories, all instance levels-->
    <!--<add key="ExecutionPlan" value="AzureStorageBlob.Repository:|AzureStorageTable.Repository:|DocumentDB.Repository:SmallRU,MediumRU|Sql.Dapper.Repository:LocalSql,AzureSqlBasic,AzureSqlP1"/>-->

    <add key="ThingCount" value="5" />
    <add key="Iterations" value="2" />

    <add key="LocalSql" value="Server=localhost;Database=SqlRepository;Trusted_Connection=True;" />

    <!--<add key="LocalSql" value="Data Source=localhost;Initial Catalog=SqlRepository;Integrated Security=True" />-->
    <add key="LocalSqlMaxConnections" value="1000" />

    <add key="AzureSqlBasic" value="Server=tcp:{server}.database.windows.net,1433;Initial Catalog=SqlRepository0;Persist Security Info=False;User ID={user};Password={password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="AzureSqlBasicMaxConnections" value="30" />

    <add key="AzureSqlP1" value="Server=tcp:{server}.database.windows.net,1433;Initial Catalog=SqlRepository1;Persist Security Info=False;User ID={user};Password={password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="AzureSqlP1MaxConnections" value="200" />

    <add key="DocumentDBSmallRUName" value="stuffdb" />
    <add key="DocumentDBSmallRUUri" value="" />
    <add key="DocumentDBSmallRUKey" value="" />
    <add key="DocumentDBSmallRUMaxConnections" value="100" />

    <add key="DocumentDBMediumRUName" value="stuffdb" />
    <add key="DocumentDBMediumRUUri" value="" />
    <add key="DocumentDBMediumRUKey" value="" />
    <add key="DocumentDBMediumRUMaxConnections" value="500" />

    <add key="StorageAccountName" value="repositorycomparison" />
    <add key="StorageAccountKey" value="" />
    <add key="StorageBlobContainerName" value="things" />
    <add key="StorageTableName" value="Things" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline%exception" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DataRepositoryComparison.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline%exception" />
      </layout>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>